/*  inactive pagination dots */
::ng-deep .swiper-pagination-bullet {
  background: #404040 !important; /* neutral-600 */
  opacity: 1 !important;
  width: 10px;
  height: 10px;
  border-radius: 9999px;
  transition: all 0.4s cubic-bezier(0.16, 1, 0.3, 1);
}

/*  the active dot */
::ng-deep .swiper-pagination-bullet-active {
  background: linear-gradient(to right, #a855f7, #ec4899) !important; /* Purple to Pink gradient */
  width: 32px !important; 
  box-shadow: 0 0 12px rgba(168, 85, 247, 0.4);
}

@import 'swiper/css';
@import 'swiper/css/pagination';

.mySwiper {
  width: 100% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0 0 4rem 0;
  z-index: 1;
}

.mySwiper .swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex !important;
  transition-property: transform;
  box-sizing: content-box;
}

.mySwiper .swiper-slide {
  flex-shrink: 0;
  width: 100% !important;
  height: auto;
  position: relative;
  transition-property: transform;
}