/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

::-webkit-scrollbar {
  width: 8px; /* Width  vertical scrollbar */
}


html {
  scrollbar-width: thin;
  scrollbar-color: #a855f7 #0c0c0c;
}


spline-viewer::part(logo) {
  display: none !important;
}